/* 글씨체 불러오기 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 전체 글씨체 설정 */
body{
    font-family: 'Roboto', 'Noto Sans KR', '맑은고딕', Malgun Gothic, dotum, '돋음', arial, sans-serif;
}

.wrapper{
    width: 100%;
}

.menu{
    text-align: center;
    border: 1px solid gray;
    padding: 20px;
}

.menulink{
    margin-left: 30px;
    display: inline-block;
}

.menulink:hover{
    cursor: pointer;
    width: 40px;
    margin-left: 20px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(108, 165, 10); 
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
}